

.Contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    flex-wrap: wrap;


    .contactleft img {
        width: 100%;
        max-width: 300px;
    }

    .contactright {
        width: 100%;
        max-width: 500px;

        form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 50px -5px rgb(37, 40, 76);
            border-radius: 30px;
            background: #0C1631;
            box-shadow: inset 5px 5px 5px #080e1f,
                inset -5px -5px 5px #101e43;

            .form-group {
                margin-bottom: 1em;
                display: flex;
                /* flex-direction: column; */
                align-items: center;
                gap: 20px;

                label {
                    margin-bottom: 0.5em;
                    color: #333;
                    font-weight: bold;
                }

                input,
                textarea {
                    border: 1px solid #ccc;
                    padding: 0.5em;
                    font-size: 1em;
                    width: 90%;
                }
            }

            button {
                padding: 0.7em;
                border: none;
                background-color: #007bff;
                color: white;
                font-size: 1em;
                cursor: pointer;
                border-radius: 4px;

                &:hover {
                    background-color: #0056b3;
                }

                @media (max-width:650px) {
                    margin: 0 auto;
                }
            }
        }
    }
}