.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 10vh;

    .logo h4 {
        font-size: 24px;
        font-weight: bold;
    }

    .links {
        display: flex;
        gap: 20px;

        a {
            text-decoration: none;
            // color: #000;
            font-size: 18px;
            transition: color 0.3s;

            &:hover {
                color: #007bff;
            }
        }
    }

    .hamburger {
        display: none;
        cursor: pointer;
        color: #333;
    }

    @media (max-width: 768px) {
        .links {
            position: absolute;
            top: 60px;
            right: 0;
            background-color: #0C1631;
            flex-direction: column;
            gap: 20px;
            padding: 20px;
            display: none;
            width: 50%;
            height: 100vh;
        }

        .links.open {
            display: flex;
            transition: 5s ease;

        }

        .hamburger {
            display: block;
        }
    }
}